<p id="notice"><%= notice %></p>

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="index.css">
    <script type="text/javascript" src="index.js"></script>
    <!-- Latest compiled and minified CSS -->

    <title>Drink Specials</title>
</head>
<body>

    <nav class="navbar navbar-inverse"><p class="navbar-text" style="text-align:center; color:white; width:100%">Hello World</p></nav>

    <div class="panel panel-info">
      <div class="panel-heading"><%= @special.bar.name %></div>
      <div class="panel-body">

      </div>
    </div>
    
    <nav class="navbar navbar-fixed-bottom navbar-inverse" role="navigation"><div style="width:100%">
        <p class="navbar-text" style="text-align:center; color:white; width:30%">Hello World</p>
        <p class="navbar-text" style="text-align:center; color:white; width:30%">Hello World</p>
        <p class="navbar-text" style="text-align:center; color:white; width:30%">Hello World</p>
        </div>
    </nav>
    
</body>
</html>


<%= link_to 'Back', specials_path %>
