/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require font-awesome
 *= require_self
 *= require_tree .
 */

 @font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../assets/glyphicons-halflings-regular.eot');
  src: url('../assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
       url('../assets/glyphicons-halflings-regular.woff') format('woff'),
       url('../assets/glyphicons-halflings-regular.ttf') format('truetype'),
       url('../assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}


/*div#outer-container {
  height: 960px;
  width: 640px;
  margin: 0 auto;
  background: #ffffff;
}*/

.white {
  color: #ffffff;
}

.hidden {
  display: none;
}

.btn-gray {
  background-color: #222222;
  /*border-color: #222222;*/
  margin: 0 5px;
}

div#inner-container {
  margin: 10px;
}

.status-bar {
  height: 25px;
  margin: 5px;
}

.status-bar-wrapper {
   width: 40%;
   display: table-cell;
   text-align: center;
}

.status-bar-text {
  text-align:center;
  margin-top: 15px;
}

.name {
  width: 40%;
  font: 24px bold;
  display: table-cell;
  vertical-align: middle;
  padding-left: 15px;
}

.distance {
  width: 20%;
  display: table-cell;
  vertical-align: middle;
}

.navbar-text {
  margin: 0;
  padding-top:25px;
  padding-bottom:25px;
  text-align:center;
  color:white;
}

h1 {
  text-align: center;
}

h3 {
  display: inline;
}

h4 {
  display: inline;
}

h5 {
  display: inline;
}

.border-right {
  border-right: 1px solid white;
}

.searchbox {
  height: 30px;
  border-radius: 5px;
}