/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require font-awesome
 *= require_self
 *= require_tree .
 */

 @font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../assets/glyphicons-halflings-regular.eot');
  src: url('../assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
       url('../assets/glyphicons-halflings-regular.woff') format('woff'), 
       url('../assets/glyphicons-halflings-regular.ttf') format('truetype'), 
       url('../assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}


/*div#outer-container {
  height: 960px;
  width: 640px;
  margin: 0 auto;
  background: #ffffff;
}*/

div#inner-container {
  margin: 10px;
}

#specials-list {
  width: 100%;
}

.specials-list-rounded {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid black;
  width: 100%;
  margin-bottom: .5%;
}

.navbar-text {
  margin: 0;
  padding-top:25px;
  padding-bottom:25px;
}

h1 {
  text-align: center;
}

h2 {
  display: inline;
}

h3 {
  display: inline;
}

.name {
  width:66%;
  font:24px bold;
  display:table-cell;
  vertical-align:middle;
  padding-left: 15px;
}