/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


/*div#outer-container {
  height: 960px;
  width: 640px;
  margin: 0 auto;
  background: #ffffff;
}*/

div#inner-container {
  margin: 10px;
}

#specials-list {
  width: 100%;
}

.specials-list-rounded {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid black;
  width: 100%;
  margin-bottom: .5%;
}