<!DOCTYPE html>
<html>
<head>
  <title>DrinkingWithFriends</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<nav class="navbar navbar-inverse navbar-fixed-top"><h1 class="navbar-text" style="text-align:center; color:white; width:100%">Drinking With Friends</h1></nav>

<body style="padding:90px 0;font-size:1.5em;">
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <div id="outer-container">
    <div id="inner-container">
      <%= yield %>
    </div>
  </div>
</body>

</html>
